    <!-- nis footer -->
    <footer class="container-fluid navColor text-white">
        <div class="row">
            <div class="col-12 col-lg-4">
                <a href="{% url 'homePage' %}" class="text-white display-3">Code</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </p>
            </div>
            <div class="col-12  col-lg-4">
                <h3>Link navbar</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'homePage' %}" class="text-white">Home</a></li>
                    <li><a href="{% url 'aboutPage' %}" class="text-white">About</a></li>
                    <li><a href="{% url 'contactPage' %}" class="text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li><a href="tel:0000000" class="text-white"><i class="fa-solid fa-phone"></i> 000000</a></li>
                    <li><a href="emailto:email@gmail.com" class="text-white"><i class="fa-regular fa-envelope"></i> 
                        email@gmail.com </a></li>
                    <li><a href="" class="text-white"><i class="fa-solid fa-location-dot"></i> Street: jnfjsdf</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <p>&copy; <span id="viti"></span> Copyright</p>
            </div>
            <div class="col-12 col-lg-6">
                <a href="termat.html" class="text-white">Termat</a>
                <a href="politikat.html" class="text-white">Politikat</a>
            </div>
        </div>
    </footer>
    <!-- fund footer -->