{% extends 'base.html' %}
{% load static %}
{% block title %} Home page {% endblock %}
{% block content %}
    <!-- banner -->
    <section class="container my-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-1">Titull</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui obcaecati neque maxime minima odit quo
                    ducimus nam consequatur quasi explicabo distinctio alias, doloremque voluptatibus, itaque corrupti
                    dolor consectetur magni recusandae!</p>
                <a href="about.html" class="btn buttonColor">About</a>
            </div>
            <div class="col-12 col-md-6 hapsireCol">
                <img src="{% static 'images/banner.jpg' %}" alt="Banner img" class="img-fluid">
            </div>
        </div>
    </section>
    <!-- fund banner -->
    <!-- Nis category/infos -->
    <section class="container-fluid">
        <h2 class="text-center display-3">Category/Tittle</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="images/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="images/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="images/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="images/banner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- fund infos -->

{% endblock %}